<template>
  <div id="app">
    <header>
      <h1>App Jornada d'Emprenedoria</h1>
    </header>
    <div data-app>
      <div id="select_horaris_classe">
        <v-container>
          <v-layout row wrap justify-start>
            <v-row>
              <v-col cols="2">
                <v-subheader>
                  Horaris ECAIB
                </v-subheader>
              </v-col>
              <v-col cols="2">
                <v-select
                    v-model="select"
                    :hint="`${select.cicle}`"
                    :items="items"
                    item-text="cicle"
                    label="Select"
                    persistent-hint
                    return-object
                    single-line
                ></v-select>
              </v-col>
              <v-col>

              </v-col>
              <v-col cols="2">
                <v-select
                    v-model="select2"
                    :hint="`${select2.convidat}`"
                    :items="items2"
                    item-value="id"
                    item-text="nom"
                    label="Convidats"
                    persistent-hint
                    return-object
                    single-line
                ></v-select>
              </v-col>
            </v-row>
          </v-layout>
        </v-container>
      </div>
    </div>
    <!--<v-sheet
        tile
        height="54"
        class="d-flex"
    >
      <v-btn
          icon
          class="ma-2"
          @click="$refs.calendar.prev()"
      >
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      <v-select
          v-model="type"
          :items="types"
          dense
          outlined
          hide-details
          class="ma-2"
          label="type"
      ></v-select>
      <v-select
          v-model="mode"
          :items="modes"
          dense
          outlined
          hide-details
          label="event-overlap-mode"
          class="ma-2"
      ></v-select>
      <v-select
          v-model="weekday"
          :items="weekdays"
          dense
          outlined
          hide-details
          label="weekdays"
          class="ma-2"
      ></v-select>
      <v-spacer></v-spacer>
      <v-btn
          icon
          class="ma-2"
          @click="$refs.calendar.next()"
      >
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-sheet>
    <v-sheet height="600">
      <v-calendar
          ref="calendar"
          v-model="value"
          :weekdays="weekday"
          :type="type"
          :events="events"
          :event-overlap-mode="mode"
          :event-overlap-threshold="30"
          :event-color="getEventColor"
          @change="getEvents"
      ></v-calendar>
    </v-sheet>-->
    <div id="taulaHoraris">
      <table>
        <thead>
        <tr>
          <th></th>
          <th>
            Dilluns
          </th>
          <th></th>
          <th>
            Dimarts
          </th>
          <th>
            Dimecres
          </th>
          <th></th>
          <th>
            Dijous
          </th>
          <th>Divendres</th>
        </tr>
        </thead>
        <tbody v-if="select.cicle === 'DAM 2'">
        <tr>
          <td>
            15-16
          </td>
          <td class="M0">
            M0
          </td>
          <td>
            15-16
          </td>
          <td class="M10">
            M10
          </td>
          <td></td>
          <td>
            15-16
          </td>
          <td></td>
          <td class="M0">
            M0
          </td>
        </tr>
        <tr>
          <td>
            16-17
          </td>
          <td class="M0">
            M0
          </td>
          <td>
            16-16.50
          </td>
          <td class="M10">
            M10
          </td>
          <td class="M12">
            M12
          </td>
          <td>
            16-17
          </td>
          <td class="M8">
            M8
          </td>
          <td class="M0">
            M0
          </td>
        </tr>
        <tr>
          <td>
            17-18
          </td>
          <td class="M0">
            M0
          </td>
          <td>
            16.50-17-40
          </td>
          <td>
            Tutoria
          </td>
          <td class="M12">
            M12
          </td>
          <td>
            17-18
          </td>
          <td class="M8">
            M8
          </td>
          <td class="M0">
            M0
          </td>
        </tr>
        </tbody>
        <tbody v-if="select.cicle ===  'DAM 1'">
        <tr>
          <td>
            15-16
          </td>
          <td class="M1">
            M1
          </td>
          <td>
            15-16
          </td>
          <td class="tutoria">
            Tutoria
          </td>
          <td></td>
          <td>
            16-16.50
          </td>
          <td></td>
          <td class="M3">
            M3
          </td>
        </tr>
        <tr>
          <td>
            15-16
          </td>
          <td class="M3">
            M3
          </td>
          <td>
            15-16
          </td>
          <td class="M11">
            M11
          </td>
          <td class="M1">
            M1
          </td>
          <td>
            16-16.50
          </td>
          <td class="M8">
            M8
          </td>
          <td class="M0">
            M0
          </td>
        </tr>
        <tr>
          <td>
            17-18
          </td>
          <td class="M0">
            M0
          </td>
          <td>
            16.50-17-40
          </td>
          <td>
            Tutoria
          </td>
          <td class="M12">
            M12
          </td>
          <td>
            17-18
          </td>
          <td class="M8">
            M8
          </td>
          <td class="M0">
            M0
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      select: {cicle: ''},
      items: [
        {cicle: 'DAM 1'},
        {cicle: 'DAM 2'},
        {cicle: 'SMIX 1'},
        {cicle: 'SMIX 2'},
      ],
      select2: {convidat: ''},
      items2: [],
      /*type: 'month',
      types: ['month', 'week', 'day', '4day'],
      mode: 'stack',
      modes: ['stack', 'column'],
      weekday: [0, 1, 2, 3, 4, 5, 6],
      weekdays: [
        { text: 'Sun - Sat', value: [0, 1, 2, 3, 4, 5, 6] },
        { text: 'Mon - Sun', value: [1, 2, 3, 4, 5, 6, 0] },
        { text: 'Mon - Fri', value: [1, 2, 3, 4, 5] },
        { text: 'Mon, Wed, Fri', value: [1, 3, 5] },
      ],
      value: '',
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],*/
    }
  },
  async mounted() {
    let result = await axios.get("http://localhost:3000/api/convidats/")
    console.log(result);
    let select2 = result.data;

    this.items2 = select2;
  }/*,
  methods: {
    getEvents ({ start, end }) {
      const events = []

      const min = new Date(`${start.date}T00:00:00`)
      const max = new Date(`${end.date}T23:59:59`)
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0
        const firstTimestamp = this.rnd(min.getTime(), max.getTime())
        const first = new Date(firstTimestamp - (firstTimestamp % 900000))
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
        const second = new Date(first.getTime() + secondTimestamp)

        events.push({
          name: this.names[this.rnd(0, this.names.length - 1)],
          start: first,
          end: second,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          timed: !allDay,
        })
      }

      this.events = events
    },
    getEventColor (event) {
      return event.color
    },
    rnd (a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
  },*/
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#taulaHoraris {
  alignment: left;
  margin: 10px;
  padding: 10px;
}

.M0 {
  background-color: lightgrey;
}

.M10 {
  background-color: mediumslateblue;
}

.M12 {
  background-color: dimgray;
}

.M8 {
  background-color: orangered;
}

#select_horaris_classe {
  alignment: left;
}
</style>
